body {
  background: #1B244A;
  margin: 0;
  /*   background-image: url("station.jpg"); */
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scoreBoard {
  color: #ffffff;
  font-family: Verdana;
  text-align: center;
}

.scores {
  font-family: "Cursed Timer ULiL", sans-serif;
  border-radius: 5px;
  width: 155px;
  height: 120px;
  background: #080001;
  text-align: center;
}

.countdown {
  font-family: "Cursed Timer ULiL", sans-serif;
  border: 4px dotted #ffffff;
  border-radius: 5px;
  width: auto;
  height: auto;
  background: #080001;
  text-align: center;
  margin: 0 auto;
}

#timer {
  font-size: 70px;
  color: greenyellow;
}

h1 {
  font-size: 90px;
  font-weight: 400;
  color: #F94F6D;
  margin: 0;
  line-height: 127px;
}

h2 {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid #9aabd8;
  border-radius: 5px;
  width: 500px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  font-family: Arial;
}

.scoreBtns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 155px;
  height: 45px;
  margin-top: 26px;
}

.btn {
  width: 45px;
  background: none;
  color: #9AABD8;
  font-size: 18px;
  font-weight: 400;
  font-family: "Cursed Timer ULiL";
  text-align: center;
  border-radius: 5px;
  border: 2px solid #9AABD8;
}

.btn:hover {
  border: 3px solid #b9c9f5;
}

#resetGame {
  width: 400px;
  margin: 30px auto;
  padding: 5px 10px;
  height: 45px;
  background: none;
  border: 2px solid #9AABD8;
  color: #ffffff;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 700;
}

#resetGame:hover {
  border: 3px solid #b9c9f5;
}
